.formBorder {
  padding: 10px !important;
}

.button {
  width: 265px;
}

.rating-list li {
  float: right;
  color: #a9a9a9;
  padding: 0px 5px;
  font-size: 50px;
}

.rating-list li.selected,
.hov:hover {
  color: #377dff;
}

.disp {
  font-size: 20px;
}

hr {
  margin: auto;
  background-color: #a9a9a9;
}

.rating-list {
  display: inline-block;
  list-style: none;
  margin: auto;
}
