.example-container {
  width: 47%;
  height: 100%;
  position: fixed;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.452);
}

@media (max-width: 600px) {
  .example-container {
    width: 91%;
    height: 100%;
    position: fixed;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.452);
  }
}

@media (min-width: 1200px) {
  .col-xl-4 {
    flex: 0 0 50.33333%;
    max-width: 56.33333%;
  }
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
  background-color: #435f7a;
  width: 100%;
}

.end {
  margin-left: auto;
}

.container {
  max-width: 1170px;
  margin: auto;
}

img {
  max-width: 90%;
}

.inbox_people {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 40%;
  border-right: 1px solid #c4c4c4;
}

.inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
}

.top_spac {
  margin: 20px 0 0;
}

.recent_heading {
  float: left;
  width: 40%;
}

.srch_bar {
  display: inline-block;
  text-align: right;
  width: 60%;
}

.headind_srch {
  padding: 10px 29px 10px 20px;
  overflow: hidden;
  border-bottom: 1px solid #c4c4c4;
}

.recent_heading h4 {
  color: #05728f;
  font-size: 21px;
  margin: auto;
}

.srch_bar input {
  border: 1px solid #cdcdcd;
  border-width: 0 0 1px 0;
  width: 80%;
  padding: 2px 0 4px 6px;
  background: none;
}

.srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}

.srch_bar .input-group-addon {
  margin: 0 0 0 -27px;
}

.chat_ib h5 {
  font-size: 15px;
  color: #464646;
  margin: 0 0 8px 0;
}

.chat_ib h5 span {
  font-size: 13px;
  float: right;
}

.chat_ib p {
  font-size: 14px;
  color: #989898;
  margin: auto;
}

.chat_img {
  float: left;
  width: 11%;
}

.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.chat_people {
  overflow: hidden;
  clear: both;
}

.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}

.inbox_chat {
  height: 550px;
  overflow-y: scroll;
}

.active_chat {
  background: #ebebeb;
}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
}

.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
}

.received_withd_msg p {
  background: #f1f2f3 none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0;
  color: #435f7a;
  padding: 5px 10px 5px 12px;
  width: 100%;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 20px;
  max-width: 205px;
  line-height: 130%;
  max-width: 300px;
  font-size: 0.9em;
}

.time_date {
  color: #747474;
  display: block;
  font-size: 8px;
  margin: 5px 0 0;
}

.received_withd_msg {
  width: 57%;
}

.mesgs {
  float: left;
  padding: 30px 15px 0 25px;
  width: 100%;
}

.sent_msg p {
  background: #435f7a none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0;
  color: #fff;
  padding: 5px 10px 5px 12px;
  width: 100%;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 20px;
  max-width: 205px;
  line-height: 130%;
  max-width: 300px;
  font-size: 0.9em;
}

.outgoing_msg {
  overflow: hidden;

  margin: 10px 0 10px;
}

.sent_msg {
  float: right;
  width: 46%;
}

.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
  margin-left: 10px;
}

.type_msg {
  border-top: 1px solid #c4c4c4;
  position: relative;
  padding-bottom: 150px;
}

.msg_send_btn {
  background: #4c4c4c03 none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #3a7ebf;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}

.messaging {
  padding: 0 0 50px 0;
}

.msg_history {
  height: 516px;
  overflow-y: auto;
  margin-top: 50px;
}

.mat-toolbar.mat-primary {
  background: #435f7a;
  color: #fff;
  border-radius: 4px;
}

.text-primarys {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.6;
  color: #ffffff;
  text-align: left;
}

.header {
  text-align: center;
  background-color: #b90d0dba;
  color: white;
  font-size: 17px;
  padding: 0.5vw;
  margin-right: 34px;
  border-radius: 10px;
}

.headers {
  text-align: center;
  background-color: #0ddf8ed7;
  color: white;
  font-size: 17px;
  padding: 0.5vw;
  margin-right: 34px;
  border-radius: 10px;
}

.headerblue {
  text-align: center;
  background-color: #6562f3d7;
  color: white;
  font-size: 17px;
  padding: 0.5vw;
  margin-right: 34px;
  border-radius: 10px;
}

.out_img {
  float: right;
  margin: 6px 0 0 8px;
  width: 22px;
  border-radius: 50%;
  max-width: 90%;
}

.sent_msg p {
  background: #435f7a none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0;
  color: #fff;
  padding: 5px 10px 5px 12px;
  width: 85%;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 20px;
  max-width: 205px;
  line-height: 130%;
  max-width: 300px;
  font-size: 1em;
}

.chatname {
  font-size: 12px;
}
