<div
  class="position-fixed top-0 right-0 left-0 bg-img-hero"
  style="
    height: 32rem;
    background-image: url(./assets/svg/components/abstract-bg-4.svg);
  "
>
  <!-- SVG Bottom Shape -->
  <figure class="position-absolute right-0 bottom-0 left-0">
    <svg
      preserveaspectratio="none"
      xmlns="http://www.w3.org/2000/svg"
      x="0px"
      y="0px"
      viewbox="0 0 1921 273"
    >
      <polygon fill="#fff" points="0,273 1921,273 1921,0 " />
    </svg>
  </figure>
  <!-- End SVG Bottom Shape -->
</div>

<!-- Content -->
<div class="container py-5 py-sm-7">
  <a class="d-flex justify-content-center mb-5" href="#">
    <img
      class="z-index-2"
      src="./assets/svg/logos/logo/quelines.png"
      srcset="./assets/svg/logos/logo/logo@1x.png 1x w250, ./assets/svg/logos/logo/logo@2x.png 2x w250, ./assets/svg/logos/logo/logo@3x.png 3x w500, ./assets/svg/logos/logo/logo@4x.png 4x w600"
      alt=""
    />
  </a>

  <div class="row justify-content-center">
    <div class="col-md-7 col-lg-5">
      <!-- Card -->
      <div class="card card-lg mb-5">
        <div class="card-body">
          <!-- Form -->
          <form
            class="js-validate"
            novalidate
            [formGroup]="frmForgotPassword"
            (submit)="forgotpassword()"
          >
            <div class="text-center">
              <div class="mb-5">
                <h1 class="display-4">{{ "Reset Password" | translate }}</h1>
                <p>
                  {{ "Already have an account?" | translate }}
                  <a href="javascript:;" title="Log In" (click)="signin()">{{
                    "Sign in here" | translate
                  }}</a>
                </p>
              </div>
            </div>

            <!-- Form Group -->
            <div class="js-form-message form-group">
              <label class="input-label" for="signinSrEmail">{{
                "Your Password" | translate
              }}</label>

              <div class="input-group input-group input-group-merge">
                <input
                  [type]="newFieldTextType ? 'text' : 'password'"
                  class="form-control"
                  matinput
                  formControlName="npassword"
                  placeholder="New password"
                  autocomplete="nope"
                  space-restrict
                />
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i
                      class="fa"
                      [ngClass]="{
                        'tio-hidden-outlined': !newFieldTextType,
                        'tio-visible-outlined': newFieldTextType
                      }"
                      (click)="newToggleFieldTextType()"
                    ></i>
                  </span>
                </div>
              </div>

              <mat-validation-message
                [control]="frmForgotPassword.controls.npassword"
                [message]="'password'"
                [formSubmitted]="isFormSubmitted"
              ></mat-validation-message>
            </div>
            <!-- End Form Group -->

            <!-- Form Group -->
            <div class="js-form-message form-group">
              <label class="input-label" for="signupSrPassword" tabindex="0">
                <span class="d-flex justify-content-between align-items-center">
                  {{ "Confirm Password" | translate }}
                </span>
              </label>

              <div class="input-group input-group input-group-merge">
                <input
                  [type]="confirmFieldTextType ? 'text' : 'password'"
                  matInput
                  class="form-control"
                  formControlName="cpassword"
                  placeholder="Confirm password"
                  autocomplete="nope"
                  space-restrict
                />
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i
                      class="fa"
                      [ngClass]="{
                        'tio-hidden-outlined': !confirmFieldTextType,
                        'tio-visible-outlined': confirmFieldTextType
                      }"
                      (click)="confirmToggleFieldTextType()"
                    ></i>
                  </span>
                </div>
              </div>
              <mat-validation-message
                [control]="frmForgotPassword.controls.cpassword"
                [message]="'Password'"
                [formSubmitted]="isFormSubmitted"
              ></mat-validation-message>
            </div>

            <div class="CTA">
              <p class="text-danger m-0"></p>
              <button type="submit" class="btn btn-lg btn-block btn-primary">
                {{ "Reset Password" | translate }}
              </button>
            </div>
          </form>
          <!-- End Form -->
        </div>
      </div>
      <!-- End Card -->
    </div>
  </div>
</div>
