<div class="content container-fluid">
  <div class="page-header">
    <div class="row align-items-end">
      <div class="col-sm-8 mb-2 mb-sm-0">
        <h1 class="page-header-title">{{ "Bussines Owners" | translate }}</h1>
      </div>
    </div>

    <div class="table-responsive datatable-custom" *ngIf="admins">
      <table
        id="datatable"
        class="table table-borderless table-thead-bordered table-nowrap table-align-middle card-table"
      >
        <thead class="thead-light">
          <tr>
            <th>{{ "Sr no." | translate }}</th>
            <th>{{ "Name" | translate }}</th>
            <th>{{ "Email" | translate }}</th>
            <th>{{ "Company Name" | translate }}</th>
            <th>{{ "Twilio Connected" | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let row of admins
                | paginate
                  : {
                      id: 'spot_data',
                      itemsPerPage: 10,
                      currentPage: page,
                      totalItems: admins.length
                    }
            "
          >
            <td>{{ row.id }}</td>
            <td>{{ row.firstName + " " + row.lastName }}</td>
            <td>{{ row.email }}</td>
            <td>{{ row.companyName }}</td>
            <td>
              {{
                row?.twilio?.isActive ? "Connected" : "Not Connected"
              }}
            </td>
          </tr>
        </tbody>
        <tfoot>
          <div class="tab-pane fade p-4 active show text-right">
            <pagination-controls
              class="paginator"
              id="spot_data"
              (pageChange)="pageChanged($event)"
              (pageBoundsCorrection)="pageChanged($event)"
              directionLinks="true"
              autoHide="true"
              responsive="true"
              previousLabel=""
              nextLabel=""
              screenReaderPaginationLabel="Pagination"
              screenReaderPageLabel="page"
              screenReaderCurrentLabel="You're on page"
            >
            </pagination-controls>
          </div>
        </tfoot>
      </table>
    </div>
  </div>
</div>
