<div class="msc-overlay"></div>
<div class="content container-fluid">
  <div class="">
    <mat-card class="row msc-content msc-alert--animate">
      <div class="row">
        <div class="col-md-10">
          <mat-card-title style="font-size: 22px; margin-bottom: auto"
            >{{ "Change Password" | translate }}
          </mat-card-title>
          <br />
        </div>
        <div class="col-md-2">
          <button
            type="button"
            class="btn btn-icon btn-sm btn-ghost-secondary"
            data-dismiss="modal"
            (click)="close()"
            aria-label="Close"
          >
            <i class="tio-clear tio-lg"></i>
          </button>
        </div>
      </div>
      <mat-card-content class="text-center">
        <form
          class="basic-form"
          novalidate
          [formGroup]="frmChangePassword"
          (submit)="changepassword()"
        >
          <mat-card>
            <mat-card-content>
              <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2"></div>
                <div class="col-lg-8 col-md-8 col-sm-">
                  <mat-form-field appearance="outline">
                    <mat-label>{{ "Password" | translate }}</mat-label>

                    <div class="input-group input-group input-group-merge">
                      <!-- Change input type to be able to accept dynamic data -->
                      <input
                        [type]="oldFieldTextType ? 'text' : 'password'"
                        matInput
                        formControlName="password"
                        autocomplete="nope"
                        space-restrict
                      />

                      <div class="input-group-append">
                        <span class="input-group-text">
                          <i
                            class="fa"
                            [ngClass]="{
                              'tio-hidden-outlined': !oldFieldTextType,
                              'tio-visible-outlined': oldFieldTextType
                            }"
                            (click)="oldToggleFieldTextType()"
                          ></i>
                        </span>
                      </div>
                    </div>
                    <mat-validation-message
                      [control]="frmChangePassword.controls.password"
                      [message]="'Password'"
                      [formSubmitted]="isFormSubmitted"
                    >
                    </mat-validation-message>
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                    <mat-label>{{ "New Password" | translate }}</mat-label>

                    <div class="input-group input-group input-group-merge">
                      <!-- Change input type to be able to accept dynamic data -->
                      <input
                        [type]="newFieldTextType ? 'text' : 'password'"
                        matInput
                        formControlName="npassword"
                        autocomplete="nope"
                        space-restrict
                      />

                      <div class="input-group-append">
                        <span class="input-group-text">
                          <i
                            class="fa"
                            [ngClass]="{
                              'tio-hidden-outlined': !newFieldTextType,
                              'tio-visible-outlined': newFieldTextType
                            }"
                            (click)="newToggleFieldTextType()"
                          ></i>
                        </span>
                      </div>
                    </div>
                    <mat-validation-message
                      [control]="frmChangePassword.controls.npassword"
                      [message]="'Password'"
                      [formSubmitted]="isFormSubmitted"
                    >
                    </mat-validation-message>
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                    <mat-label>{{
                      "Confirm New Password" | translate
                    }}</mat-label>

                    <div class="input-group input-group input-group-merge">
                      <!-- Change input type to be able to accept dynamic data -->
                      <input
                        [type]="confirmFieldTextType ? 'text' : 'password'"
                        matInput
                        formControlName="cnpassword"
                        autocomplete="nope"
                        space-restrict
                      />

                      <div class="input-group-append">
                        <span class="input-group-text">
                          <i
                            class="fa"
                            [ngClass]="{
                              'tio-hidden-outlined': !confirmFieldTextType,
                              'tio-visible-outlined': confirmFieldTextType
                            }"
                            (click)="confirmToggleFieldTextType()"
                          ></i>
                        </span>
                      </div>
                    </div>
                    <mat-validation-message
                      [control]="frmChangePassword.controls.cnpassword"
                      [message]="'Password'"
                      [formSubmitted]="isFormSubmitted"
                    >
                    </mat-validation-message>
                  </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3"></div>
              </div>
            </mat-card-content>
            <mat-card-content style="text-align: center">
              <p class="text-danger m-0" *ngIf="error">
                {{ error.error || frmChangePassword.error }}
              </p>
              <button
                type="submit"
                class="app-button"
                mat-raised-button
                color="primary"
              >
                {{ "Update Password" | translate }}
              </button>
            </mat-card-content>
          </mat-card>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
